<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeu de Réaction</title>
  <link rel="stylesheet" href="../../css/reactiontimer.css">
</head>
<body>
  <%- include('header') %> <!-- Inclure le fichier header.ejs -->
  <h1>Testez votre temps de réaction</h1>
  <p>Cliquez sur le carré dès qu'il devient vert !</p>
  <div class="click-area"></div>
  <div class="display-text"></div>
  <div id="stats">
    <p>Meilleur Temps: <span id="best-time">N/A</span> ms</p>
    <p>Temps Moyen: <span id="average-time">N/A</span> ms</p>
    <p>Tentatives: <span id="attempts">0</span></p>
  </div>
  <script src="reactiontimer.js"></script>
</body>
</html>
