<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Morpion</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <%- include('../../header') %> <!-- Inclure le fichier header.ejs -->
    <main class="container">
        <div class="status">C'est le tour du joueur X</div>
        <section class="board">
            <% for(let i = 0; i < 9; i++) { %>
                <div class="cell" data-index="<%= i %>"></div>
            <% } %>
        </section>
        <button class="restart" id="restartButton">Recommencer</button>
    </main>
    <script src="game.js"></script>
</body>
</body>
</html>
